<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilds</title>
</head>

<body>
    <p>User is in following guilds <br> <a href="/">Back to home</a></p>
    <p>Guilds with perms</p>
    <ul>
        <% for (var i = 0; i < guilds.length; i++) { %>
        <% if (guilds[i].hasPerm ) { %>
        <li>
            <div>
                <span style="text-align:left">
                    <img src="<%= guilds[i].avatar %>" width="15px" height="15px"> <a
                        href="/getUserGuilds/<%= guilds[i].id %>"><%= guilds[i].name %></a>
                </span>
            </div>
        </li>
        <% } %>
        <% } %>
    </ul>
    <p> Guilds with no perms or the bot isn't in those servers.</p>
    <ul>
        <% for (var i = 0; i < guilds.length; i++) { %>
        <% if (!guilds[i].hasPerm ) { %>
        <li>
            <div>
                <span style="text-align:left">
                    <img src="<%= guilds[i].avatar %>" width="15px" height="15px"> <%= guilds[i].name %>
                </span>
            </div>
        </li>
        <% } %>
        <% } %>
    </ul>
</body>

</html>